@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*page-wrapper CSS*/
* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-family: Noto Sans KR;
}

html{
	width: 100vw;
	height: 100vh;
}

.subnav_div{
	display: inline-block; 
	float: left;
	width: 230px;
	height: 100vh;
}

.page_div{
	display: inline-block; 
	float: right; 
	width: calc(100vw - 230px);
}

header {
	height: 54px;
	background-color: white;
	border-bottom: 1px solid #C3C3C3;
	padding: 14px;
	box-sizing: border-box;
	white-space: nowrap;
	
	/*드래그 방지*/
	-ms-user-select: none; 
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
	
}

#header_title {
	float: left;
	font-weight: medium;
	font-size: 16px;
	padding: 0 25px;
	word-spacing: 15px;
	color: #3F3D41;
	white-space: nowrap;
}

#header {
	text-align: right;
	padding-right: 22px;
	white-space: nowrap;
}

#nav_icon{
	float: left;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

#top_logo {
	float: right;
	height: 17px;
	width: 175px;
	margin-top: 5px;
}

.search_box:focus, .select_box:focus {
	outline: none;
}

.div_fheader {
    border: 1px solid #C3C3C3;
    border-top: 0px;
    background-color: white;
    display: block;
    box-sizing: border-box;
    height: 54px;
    line-height: 30px;
    overflow: hidden;
}

.div_header {
    border: 1px solid #C3C3C3;
    border-top: 0px;
    background-color: white;
    display: block;
    box-sizing: border-box;
    height: 54px;
    line-height: 30px;
   	white-space: nowrap;
   	overflow: hidden;
}

.search_div {
	float: left;
    display: inline-block;
    height: 100%;
    padding-left: 18px; /* 버튼 margin 7px 더해서 25px */
}

.btn_div{
	float: right;
	display: inline-block;
}

input{
	padding-left: 10px;
}

/* TABLE */

table {
    width:100%;
    border: 1px solid #C3C3C3;
	border-collapse: collapse;
    overflow-x:auto;
    /*white-space: nowrap;*/
	font-size: 13px;
	display: inline-table;
}

#ajaxTable thead{
	position: sticky;
	top: -28px;
	box-shadow: inset 0 1px 0 #C3C3C3, inset 0 -1px 0 #C3C3C3;
}

#searchTr {
	position: sticky;
	top: -30px;
	box-shadow: inset 0 1px 0 #C3C3C3, inset 0 -1px 0 #C3C3C3;
	background-color: #FFF;
}

.mtitle{
    background-color: #F4F4F4;
    border: 1px solid #C3C3C3;
    font-size: 14px;
    font-weight: bold;
    color: #717171;
    padding: 5px 7px;
    text-align: center;
    height: 38px;
}

th{
	/*    드래그 방지     */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.row td{
    color: #3F3D41;
    border: 1px solid #C3C3C3;
    text-align: left;
    color: #717171;
    font-weight: medium;
  	padding: 0 10 0 10px;
    height: 34px;
    
    /*    드래그 방지     */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.row:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

.page_nav{
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	display: block;
}

.paging {
	list-style:none;
	display: inline-block;
	margin: 8px;
}
.paging > li {
	display: inline-block;
}
.page-btn{
	padding:4px;
	margin:3px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	border-radius: 3px;
	text-align:center;
	text-decoration:none;
	
	/*    드래그 방지     */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.page-btn:hover{
	color:#fff;
	border:1px solid #099769;
	border-radius: 3px;
	background-color:#099769;
}

.active{
	color:#fff;
	border:1px solid #099769;
	border-radius: 3px;
	background-color:#099769;
}

.page-prev{
	padding:4px;
	margin:3px;
	margin-bottom: 0px;
	width:15px;
	color:#000;
	border:1px solid #eee;
	font:bold 12px tahoma;
	text-align:center;
	text-decoration:none;
}
.page-next{
	padding:4px;
	margin:3px;
	width:15px;
	color:#000;
	border:1px solid #eee;
	font:bold 12px tahoma;
	text-align:center;
	text-decoration:none;
}

/*####################### 스크롤바 #########################*/
body::-webkit-scrollbar {
	display: none;
}

.main_div::-webkit-scrollbar {
	height: 7px;
	width: 7px;
}

.main_div::-webkit-scrollbar-track {
	background-color: transparent;
}

.main_div::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #717171;
}

.main_div::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

.btn_excel {
	object-fit: cover;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #707070;
	padding: 10px;
	font-size: 12px;
	font-weight: bolder;
	text-decoration: none;
	border: 1.5px solid #D3D3D3;
	border-radius: 1px;
	width: 130px;
	cursor: pointer;
	background: url(../img/icon_excel.png) no-repeat 5px #EDEDED;
	background-size: auto;
	padding-left: 25px;
	margin: 6px 0px 6px 7px;
}

.btn_search {
	background: #EDEDED;
	color: #707070;
	padding: 10px;
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	border: 1.5px solid #D3D3D3;
	border-radius: 1px;
	width: 130px;
	cursor: pointer;
	margin: 6px 7px;
}

.btn_refresh {
	width: 25px;
    height: 25px;
    background-image:url("../img/refresh-icon.png");
    background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
    border-radius: 50%; /* 레이어 반크기만큼 반경을 잡기*/    
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    outline-style: none;
	transition: transform .7s ease-in-out;
	background-color: #FFFFFF;
	border: 1.5px solid #D3D3D3;
	cursor: pointer;
}

#refresh_img{
	width: 15px;
	height: 15px;
}

/*SWEET ALERT CSS*/

.btn_refresh:hover {
	background-color: #D3D3D3;
	transform: rotate(360deg);	
	color: #505050;
}

.btn_excel:hover, .btn_search:hover {
	color: #505050;
	background-color: #D3D3D3;
	transition: 0.5s;
}

th, td {
	border: 1px solid #C3C3C3;
	border-collapse: collapse;
	table-layout: fixed;
	padding: 2px;
	padding-right: 2px;
	padding-left: 4px;
	height: 34px;
}

/*input X표시 삭제*/
input::-ms-clear, input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button,
	input::-webkit-search-results-button, input::-webkit-search-results-decoration
	{
	display: none;
}

/* NAV BAR */
.overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 70%;
    z-index: 998;
    display: none;
}

#warn_p{
	display: none;
	margin: 10px 30px;
	font-weight: bold;
	font-size: 14px;
}

#warn_p strong {
	background-color: #A30000;
}

.defTb{
	border: 2px solid #A30000;
}

#strong {
    padding: 1 15px;
    border-radius: 20px;
}

#uiMsg{
	padding: 5px 10px;
	display: inline-block;
	background-color: rgb(66,66,66);
	color: #FFF;
	border-radius: 10px;
}