<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main">

	<select id="selectTodayCountList" resultType="K7_ORDER_HEADER_OMS">
		SELECT B.CPN_NM AS ORDER_CH_NM, 
			COUNT(A.ORDER_CH_CD) AS TOTAL_COUNT,  
			SUM(A.TOT_AMT) AS TOTAL_AMT, 
			SUM(CASE WHEN NOT A.ORDER_STATE = 'Canceled' THEN 1 ELSE 0 END) AS COMMIT_COUNT,
			SUM(CASE WHEN NOT A.ORDER_STATE = 'Canceled' THEN A.TOT_AMT ELSE 0 END) AS COMMIT_AMT,
			SUM(CASE WHEN A.ORDER_STATE = 'Canceled' THEN 1 ELSE 0 END) AS CANCEL_COUNT,
			SUM(CASE WHEN A.ORDER_STATE = 'Canceled' THEN A.TOT_AMT ELSE 0 END) AS CANCEL_AMT
		FROM K7_ORDER_HEADER_OMS A
		INNER JOIN K7_COMPANY_MASTER_OMS B ON B.CPN_CD = A.ORDER_CH_CD
		WHERE A.REG_DATE BETWEEN to_date(SYSDATE) AND to_date(SYSDATE)+0.99999
		GROUP BY ROLLUP(B.CPN_NM)
	</select>
	
	<select id="selectYesCountList" resultType="K7_ORDER_HEADER_OMS">
		SELECT B.CPN_NM AS ORDER_CH_NM, 
			COUNT(A.ORDER_CH_CD) AS TOTAL_COUNT,  
			SUM(A.TOT_AMT) AS TOTAL_AMT, 
			SUM(CASE WHEN NOT A.ORDER_STATE = 'Canceled' THEN 1 ELSE 0 END) AS COMMIT_COUNT,
			SUM(CASE WHEN NOT A.ORDER_STATE = 'Canceled' THEN A.TOT_AMT ELSE 0 END) AS COMMIT_AMT,
			SUM(CASE WHEN A.ORDER_STATE = 'Canceled' THEN 1 ELSE 0 END) AS CANCEL_COUNT,
			SUM(CASE WHEN A.ORDER_STATE = 'Canceled' THEN A.TOT_AMT ELSE 0 END) AS CANCEL_AMT
		FROM K7_ORDER_HEADER_OMS A
		INNER JOIN K7_COMPANY_MASTER_OMS B ON B.CPN_CD = A.ORDER_CH_CD
		WHERE A.REG_DATE BETWEEN to_date(SYSDATE-1) AND to_date(SYSDATE-1)+0.99999
		GROUP BY ROLLUP(B.CPN_NM)
	</select>
	
	<select id="selectDeliveryNumber" resultType="K7_COMPANY_MASTER_OMS">
		SELECT CPN_NM, CPN_TEL 
		FROM K7_COMPANY_MASTER_OMS 
		WHERE CPN_TYPE = 'Delivery'
		ORDER BY CPN_NM
	</select>
	
	<select id="selectFranchiseNumber" resultType="K7_COMPANY_MASTER_OMS">
		SELECT CPN_NM, CPN_TEL 
		FROM K7_COMPANY_MASTER_OMS 
		WHERE CPN_TYPE = 'Order'
		ORDER BY CPN_NM
	</select>

</mapper>
